AWS_REGION=us-east-2
AMI_ID=YOUR_AMI_ID
INSTANCE_TYPE=t3.micro
KEY_NAME=YOUR_KEY_PAIR_NAME
BUCKET_NAME=YOUR_UNIQUE_S3_BUCKET_NAME
APP_SECURITY_GROUP_ID=YOUR_SECURITY_GROUP_ID
UPLOADER_ROLE_NAME=itmo-444-544-uploader-role
UPLOADER_PROFILE_NAME=itmo-444-544-uploader-profile
UPLOADER_LT_NAME=itmo-444-544-uploader-lt
VIEWER_ROLE_NAME=itmo-444-544-viewer-role
VIEWER_PROFILE_NAME=itmo-444-544-viewer-profile
VIEWER_LT_NAME=itmo-444-544-viewer-lt
APP_PORT=3000
